# Ignorar el entorno virtual (venv)
venv/

# Ignorar la base de datos SQLite (si estás usando SQLite)
db.sqlite3

# Ignorar los archivos generados por Python
*.pyc
__pycache__/

# Ignorar archivos de configuración de editor (si usas alguno como Visual Studio Code)
.vscode/

# Ignorar archivos de log
*.log

# Ignorar archivos temporales
*.tmp
